{% extends 'admin/base.html' %}
{% block admin_content %}
    <script src="{{ url_for('static', filename='lib/bower_components/bootstrap-markdown/js/bootstrap-markdown.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/scoremodel/jquery/admin/buttons.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/scoremodel/jquery/admin/page.js') }}"></script>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 col-sm-9">
                <div class="page panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {{ _('Page') }}
                        </h3>
                    </div>
                    <div class="panel-body">
                        <form novalidate class="form-horizontal">
                            <input id="page_id" type="hidden" value="{{ page.id }}"/>
                            <input id="lang_id" type="hidden" value="" />
                            <input id="menu_link_id" type="hidden" value="" />
                            <div class="form-group">
                                <label for="menu_link" class="col-sm-1 control-label">{{ _('Menu link') }}</label>
                                <div class="col-sm-11">
                                    <input id="menu_link" class="form-control" type="text" disabled="disabled"
                                           value=""/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lang" class="col-sm-1 control-label">{{ _('Language') }}</label>
                                <div class="col-sm-11">
                                    <input id="lang" class="form-control" type="text" disabled="disabled"
                                           value=""/>
                                </div>
                            </div>
                            <div class="form-group">
                                    <label for="content" class="control-label col-sm-1">{{ _('Content') }}</label>
                                <div class="col-sm-11">
                                    <textarea id="content" class="form-control" required="required" rows="15" data-provide="markdown-editable"></textarea>
                                    <div>
                                        <p class="small">{{ _('You can use <a href="https://daringfireball.net/projects/markdown/">Markdown</a> syntax in this field.') }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3 col-sm-offset-1">
                                    <button type="button" class="btn btn-default" id="save_button">{{ _('Save') }}
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}