    <form method="post" action="{{ url_for('admin.v_login', next=next) }}" class="form-inline">
        <div class="form-group">
            <label for="login.email">{{ _('Email address') }}</label>
            {{ form.email(class_='form-control', id='login.email') }}
            </div>
        <div class="form-group">
            <label for="login.password">{{ _('Password') }}</label>
            {{ form.password(class_='form-control', id='login.password') }}
            </div>
        <div class="checkbox">
            <label>
                {{ form.remember_me }} {{ _('Remember me') }}
            </label>
        </div>
        {{ form.csrf_token }}
    {{ form.submit(class_='btn btn-default') }}
    </form>