{% extends 'admin/base.html' %}
{% block admin_content %}
<form method="post" action="{{ url_for('.v_user_delete', user_id=user_id) }}">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h1 class="panel-title">{{ _('Confirm deletion') }}</h1>
        </div>
        <div class="panel-body">
            <p>{{ _('Please press &lt;Confirm delete&gt; to confirm the deletion of the %(item_type)s called &ldquo;%(item_identifier)s&rdquo;.', item_type=_('User'), item_identifier=username) }}</p>
        </div>
    </div>
    {{ form.csrf_token }}
    <div class="form-group">
        {{ form.submit(class_='btn btn-danger') }}
    </div>
</form>
{% endblock %}