{% extends 'admin/base.html' %}
{% block admin_content %}
<form method="post" action="{{ url_for('.v_user_edit', user_id=user_id) }}">
    <div class="form-group">
        <label for="user.email">{{ _('E-mail address') }}</label>
        {{ form.email(class_='form-control', id='user.email') }}
        {% if form.email.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for error in form.email.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="user.password">{{ _('Password') }}</label>
        {{ form.password(class_='form-control', id='user.password') }}
        {% if form.password.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for error in form.password.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="user.password_check">{{ _('Confirm password') }}</label>
        {{ form.password_match(class_='form-control', id='user.password_check') }}
        {% if form.password_match.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for error in form.password_match.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="user.roles">{{ _('Roles') }}</label>
        {{ form.roles(class_='form-control', id='user.roles') }}
        {% if form.roles.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for error in form.roles.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    {{ form.csrf_token }}
    {{ form.submit(class_='btn btn-default') }}
</form>
{% endblock %}