{% extends 'base.html' %}
{% block content %}
    <div class="row">
    <table class="table">
        <thead>
        <tr>
            <th>Rapportnaam</th>
            <th>Aanmaakdatum</th>
        </tr>
        </thead>
        <tbody>
        {% for report in reports %}
        <tr>
            <td><a href="{{ url_for('v_user_report_section', user_id=current_user.id, user_report_id=report.id, section_id=report.template.ordered_sections[0].id) }}">{{ report.name }}</a></td>
            <td>{{ report.creation_date }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="row">
    <a class="btn btn-default" href="{{ url_for('.v_user_report_new', user_id=current_user.id) }}" role="button">Nieuw rapport</a>
    </div>
{% endblock %}