{% extends 'base.html' %}
{% block content %}
    <div class="container" ng-app="scoremodel.public" ng-controller="SectionCtrl">
        <div class="page-header">
            <h1>{{ section.title }}</h1>
        </div>
        <div class="well">
            <p>{{ section.context }}</p>
        </div>
        <div class="row">
        <div class="row">
            <form novalidate>
                <input id="report_id" type="hidden" value="{{ report_id }}"/>
                <input id="section_id" type="hidden" value="{{ section.id }}"/>
                {% for question in section.ordered_questions %}
                    <div class="col-md-offset-1 col-md-9">
                        <div class="row">
                            <div class="col-sm-6">
                                <h2>{{ question.question }}</h2>
                                <div>
                                    {% for answer in question.answers %}
                                        <div class="radio">
                                            <label>
                                                {% if question.selected_answer(report_id) and question.selected_answer(report_id).answer_id == answer.id %}
                                                    <input type="radio" ng-model="answers[{{ question.id }}].answer"
                                                           ng-change="submit_answer({{ report_id }},{{ question.id }},{{ answer.id }})"
                                                           value="{{ answer.id }}"
                                                           id="questions_{{ question.id }}_{{ answer.id }}"
                                                           name="questions_{{ question.id }}" checked
                                                           autocomplete="off"/>
                                                    {{ answer.answer }}
                                                {% else %}
                                                    <input type="radio" ng-model="answers[{{ question.id }}].answer"
                                                           ng-change="submit_answer({{ report_id }},{{ question.id }},{{ answer.id }})"
                                                           value="{{ answer.id }}"
                                                           id="questions_{{ question.id }}_{{ answer.id }}"
                                                           name="questions_{{ question.id }}" autocomplete="off"/>
                                                    {{ answer.answer }}
                                                {% endif %}
                                            </label>
                                        </div>
                                    {% endfor %}
                                    {% for risk_factor in question.risk_factors %}
                                        <div class="alert alert-warning" role="alert"><p>
                                            Risicofactor: {{ risk_factor.risk_factor }}</p></div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-sm-offset-1 col-sm-5">
                                <div class="row">
                                    <nav>
                                        <ul class="nav nav-pills" role="tablist">
                                            <li role="presentation" class="active"><a role="tab"
                                                                                      href="#context_{{ question.id }}"
                                                                                      data-toggle="pill"
                                                                                      aria-controls="context_{{ question.id }}">Context</a>
                                            </li>
                                            <li role="presentation"><a role="tab" href="#risk_{{ question.id }}"
                                                                       data-toggle="pill"
                                                                       aria-controls="risk_{{ question.id }}">Risico</a>
                                            </li>
                                            <li role="presentation"><a role="tab" href="#example_{{ question.id }}"
                                                                       data-toggle="pill"
                                                                       aria-controls="example_{{ question.id }}">Voorbeeld</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="row">
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane active" id="context_{{ question.id }}">
                                            <p>{{ question.context }}</p>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="risk_{{ question.id }}">
                                            <p>{{ question.risk }}</p>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="example_{{ question.id }}">
                                            <p>{{ question.example }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </form>
        </div>
        <div class="row">
            <div class="alert alert-info">
                Totale score voor {{ section.title }}: {% raw %}{{ score }}{% endraw %}/100
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 col-md-offset-1">
                <div class="row">
                    <div class="col-md-2 col-md-offset-2">
                        {% if previous_section %}
                            <a href="{{ url_for('.v_user_report_section', user_id=current_user.id, user_report_id=user_report_id, section_id=previous_section.id ) }}"
                               class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"
                                                             aria-hidden="true"></span>&nbsp;{{ previous_section.title }}
                            </a>
                        {% else %}
                            <a href="{{ url_for('.v_user_report_edit', user_id=current_user.id, user_report_id=user_report_id) }}"
                               class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"
                                                             aria-hidden="true"></span>&nbsp;Rapport bewerken</a>
                        {% endif %}
                    </div>
                    <div class="col-md-2 col-md-offset-2">
                        {% if next_section %}
                            <a href="{{ url_for('.v_user_report_section', user_id=current_user.id, user_report_id=user_report_id, section_id=next_section.id ) }}"
                               class="btn btn-default">{{ next_section.title }}&nbsp;<span
                                    class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                        {% else %}
                            <a href="{{ url_for('.v_user_report_check', user_id=current_user.id, user_report_id=user_report_id) }}"
                               class="btn btn-default">Overzicht&nbsp;<span class="glyphicon glyphicon-chevron-right"
                                                                            aria-hidden="true"></span></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}