{% extends 'base.html' %}
{% block content %}
    <script src="{{ url_for('static', filename='lib/scoremodel/jquery/public/section.js') }}"></script>
    <script type="text/javascript">
        var csrf_token = "{{ csrf_token() }}";
    </script>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 panel panel-default">
                <div class="panel-body">
                    <form class="novalidate">
                        <input id="report_id" type="hidden" value="{{ user_report_id }}"/>
                        <input id="section_id" type="hidden" value="{{ section.id }}"/>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <h2>{{ section.title }}</h2>
                                </div>
                            </div>
                            {% for question in section.ordered_questions %}
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-10 col-sm-10">
                                                    <h3>{{ question.question }}
                                                        <small>
                                                            ({{ _('Risk factor') }}: {{ question.risk_factor.risk_factor }})
                                                        </small>
                                                    </h3>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-8 col-sm-8">
                                                    {% for answer in question.ordered_answers %}
                                                        <div class="radio">
                                                            <label>
                                                                {% if question_answers[question.id] is defined and answer.id == question_answers[question.id].answer_id %}
                                                                    <input type="radio"
                                                                           value="{{ answer.id }}"
                                                                           id="questions_{{ question.id }}_{{ answer.id }}"
                                                                           name="questions_{{ question.id }}" checked
                                                                           autocomplete="off"/>
                                                                    {{ answer.answer }}
                                                                {% else %}
                                                                    <input type="radio"
                                                                           value="{{ answer.id }}"
                                                                           id="questions_{{ question.id }}_{{ answer.id }}"
                                                                           name="questions_{{ question.id }}"
                                                                           autocomplete="off"/>
                                                                    {{ answer.answer }}
                                                                {% endif %}
                                                            </label>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}