{% extends 'base.html' %}
{% block content %}
    <!-- Bower -->
    <script src="{{ url_for('static', filename='lib/bower_components/bootstrap/js/transition.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/bower_components/bootstrap/js/collapse.js') }}"></script>
    <!-- Local scripts -->
    <script src="{{ url_for('static', filename='lib/scoremodel/jquery/public/section.js') }}"></script>
    <script type="text/javascript">
        var csrf_token = "{{ csrf_token() }}";
    </script>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            {% if previous_section %}
                                <a href="{{ url_for('public.v_user_report_section', user_id=current_user.id, user_report_id=user_report_id, section_id=previous_section.id ) }}"
                                   class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"
                                                                 aria-hidden="true"></span>&nbsp;{{ previous_section.title }}
                                </a>
                            {% else %}
                                <a href="{{ url_for('.v_user_report_edit', user_id=current_user.id, user_report_id=user_report_id) }}"
                                   class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"
                                                                 aria-hidden="true"></span>&nbsp;{{ _('Edit report') }}
                                </a>
                            {% endif %}
                        </div>
                        <div class="col-md-4 col-sm-4">
                            {% if next_section %}
                                <a href="{{ url_for('public.v_user_report_section', user_id=current_user.id, user_report_id=user_report_id, section_id=next_section.id ) }}"
                                   class="btn btn-default text-right">{{ next_section.title }}&nbsp;<span
                                        class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                            {% else %}
                                <a href="{{ url_for('public.v_user_report_check', user_id=current_user.id, user_report_id=user_report_id) }}"
                                   class="btn btn-default text-right">{{ _('Overview') }}&nbsp;<span
                                        class="glyphicon glyphicon-chevron-right"
                                        aria-hidden="true"></span></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <h2>{{ section.title }}</h2>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 panel panel-default">
                <div class="panel-body">
                    <form class="novalidate">
                        <input id="report_id" type="hidden" value="{{ user_report_id }}"/>
                        <input id="section_id" type="hidden" value="{{ section.id }}"/>
                        <div class="container">
                            {% for question in section.ordered_questions %}
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-10 col-sm-10">
                                                    <h3>{{ question.question }}
                                                        <small>
                                                            ({{ _('Risk factor') }}: {{ question.risk_factor.risk_factor }})
                                                        </small>
                                                    </h3>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-8 col-sm-8">
                                                    {% for answer in question.ordered_answers %}
                                                        <div class="radio">
                                                            <label>
                                                                {% if question_answers[question.id] is defined and answer.id == question_answers[question.id].answer_id %}
                                                                    <input type="radio"
                                                                           value="{{ answer.id }}"
                                                                           id="questions_{{ question.id }}_{{ answer.id }}"
                                                                           name="questions_{{ question.id }}" checked
                                                                           autocomplete="off"/>
                                                                    {{ answer.answer }}
                                                                {% else %}
                                                                    <input type="radio"
                                                                           value="{{ answer.id }}"
                                                                           id="questions_{{ question.id }}_{{ answer.id }}"
                                                                           name="questions_{{ question.id }}"
                                                                           autocomplete="off"/>
                                                                    {{ answer.answer }}
                                                                {% endif %}
                                                            </label>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-8 col-sm-8">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-md-8 col-sm-8">
                                                                <ul class="nav nav-tabs">
                                                                    <li role="presentation"><a
                                                                            href="#context_{{ question.id }}"
                                                                            data-toggle="collapse" aria-expanded="false"
                                                                            aria-controls="context_{{ question.id }}">{{ _('Context') }}</a>
                                                                    </li>
                                                                    {#
                                                                    <li role="presentation"><a
                                                                            href="#risks_{{ question.id }}"
                                                                            data-toggle="collapse" aria-expanded="false"
                                                                            aria-controls="risks_{{ question.id }}">{{ _('Risks') }}</a>
                                                                    </li>
                                                                    <li role="presentation"><a
                                                                            href="#example_{{ question.id }}"
                                                                            data-toggle="collapse" aria-expanded="false"
                                                                            aria-controls="example_{{ question.id }}">{{ _('Example') }}</a>
                                                                    </li>
                                                                    #}
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-8 col-sm-8" id="extra_{{ question.id }}">
                                                                <div class="collapse" id="context_{{ question.id }}">
                                                                    <h4>{{ _('Context' ) }}</h4>
                                                                    {{ question.context|markdown }}
                                                                    <hr/>
                                                                </div>
                                                                {# <div class="collapse" id="risks_{{ question.id }}">
                                                                    <h4>{{ _('Risks' ) }}</h4>
                                                                    {{question.risk|markdown}}
                                                                    <hr/>
                                                                </div>#}
                                                                {# <div class="collapse" id="example_{{ question.id }}">
                                                                    <h4>{{ _('Example' ) }}</h4>
                                                                    {{question.example|markdown}}
                                                                    <hr/>
                                                                </div>#}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 panel panel-default">
                <div class="panel-body">
                     <span>{{ _('Total score for section "%(section_title)s":', section_title=section.title) }} <span
                             id="score">0</span> /100</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            {% if previous_section %}
                                <a href="{{ url_for('public.v_user_report_section', user_id=current_user.id, user_report_id=user_report_id, section_id=previous_section.id ) }}"
                                   class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"
                                                                 aria-hidden="true"></span>&nbsp;{{ previous_section.title }}
                                </a>
                            {% else %}
                                <a href="{{ url_for('.v_user_report_edit', user_id=current_user.id, user_report_id=user_report_id) }}"
                                   class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"
                                                                 aria-hidden="true"></span>&nbsp;{{ _('Edit report') }}
                                </a>
                            {% endif %}
                        </div>
                        <div class="col-md-4 col-sm-4">
                            {% if next_section %}
                                <a href="{{ url_for('public.v_user_report_section', user_id=current_user.id, user_report_id=user_report_id, section_id=next_section.id ) }}"
                                   class="btn btn-default text-right">{{ next_section.title }}&nbsp;<span
                                        class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                            {% else %}
                                <a href="{{ url_for('public.v_user_report_summary', user_id=current_user.id, user_report_id=user_report_id) }}"
                                   class="btn btn-default text-right">{{ _('Overview') }}&nbsp;<span
                                        class="glyphicon glyphicon-chevron-right"
                                        aria-hidden="true"></span></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}