{% extends 'base.html' %}
{% block content %}
    <script type="text/javascript">
        /* This could end badly if one request finishes directly before the other starts. But I don't think that
         will happen. */
        var async_counter = 0;
    </script>
    <!-- Bower -->
    <script src="{{ url_for('static', filename='lib/bower_components/bootstrap/js/transition.js') }}"></script>
    <!-- D3 -->
    <script src="{{ url_for('static', filename='lib/bower_components/d3/d3.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/bower_components/radar-chart-d3/src/radar-chart.js') }}"></script>
    <link href="{{ url_for('static', filename='lib/bower_components/radar-chart-d3/src/radar-chart.css') }}"
          rel="stylesheet"/>
    <!-- Local scripts -->
    <script type="text/javascript">
        var report_id = {{ report_template.id }};
        var user_report_id = {{ user_report.id }};
    </script>
    <script src="{{ url_for('static', filename='lib/scoremodel/jquery/admin/loader.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/scoremodel/jquery/public/graph.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/scoremodel/jquery/public/report.js') }}"></script>
    <div class="container-fluid">
        <!-- Bar -->
        <!--
        <div class="row">
            <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-2 col-sm-offset-4"><a
                                href="{{ url_for('public.v_user_report_summary', user_id=current_user.id, user_report_id=user_report.id) }}">{{ _('Summary') }}</a>
                        </div>
                        <div class="col-sm-2"><a
                                href="{{ url_for('public.v_user_report_check', user_id=current_user.id, user_report_id=user_report.id) }}">{{ _('Full report') }}</a>
                        </div>
                        <div class="col-sm-2">
                            <a href="javascript:window.print()">{{ _('Print') }}</a></div>
                    </div>
                </div>
            </div>
        </div>
        -->
        <!-- Pretty Title -->
        <div class="row">
            <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
                {% if current_user.organisation.name %}
                    <h1>
                        <a name="prettytitle">{{ _('Eindrapport Scoremodel %(organisation)s', organisation=current_user.organisation.name) }}</a>
                    </h1>
                {% else %}
                    <h1><a name="prettytitle">{{ _('Eindrapport Scoremodel') }}</a></h1>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
                <table class="table">
                    <tr>
                        <td>{{ _('Datum') }}</td>
                        <td>{{ user_report_creation_time }}</td>
                    </tr>
                    <tr>
                        <td>{{ _('User') }}</td>
                        <td>{{ user_report.user.username }}</td>
                    </tr>
                    <tr>
                        <td>{{ _('Acties') }}</td>
                        <td><a href="{{ url_for('public.v_user_report_check', user_id=current_user.id, user_report_id=user_report.id) }}">{{ _('Full report') }}</a>
                            &nbsp&nbsp&nbsp&nbsp
                            <a href="javascript:window.print()">{{ _('Print') }}</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
                {% if current_user.organisation.name %}
                    <p class="text-justify text-muted ">{{ _('Hieronder vind je de sterke en zwakke punten van de digitale huishouding van %(organisation)s.', organisation=current_user.organisation.name) }}</p>
                {% else %}
                    <p class="text-justify text-muted ">{{ _('Hieronder vind je de sterke en zwakke punten van jouw digitale huishouding.') }}</p>
                {% endif %}
            </div>
        </div>
        <!-- Graph -->
        <div class="row">
            <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
                <h3 class="sr-only"><a name="grafiek">{{ _('Graph') }}</a><span style="margin-left: 5px;"
                                                                                id="graph_loader"></span></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
                <div id="graph">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
                <p class="text-justify text-muted ">{{ _('Elk van de zeven assen van het radardiagram is een aspect van je digitale huishouding. Hoe verder de marker van het centrum verwijderd is, hoe beter je gescoord hebt. 
                Bevindt de marker zich in de rode zone, dan is dringende actie vereist. Bevindt de marker zich in de gele zone, dan is je huidige werking voor verbetering vatbaar. Bevindt de marker zich in de groene zone, dan heb je dat aspect van je digitale huishouding op orde.') }}</p>
                <p class="text-justify text-muted ">{{ _('De blauwe lijn geeft aan hoe je scoort volgens de OAIS-norm. De oranje lijn geeft aan hoe je scoort voor de Core Trust Seal-norm.') }}</p>
            </div>
        </div>
        <!-- Highest 5 unanswered questions -->
        <div class="row">
            <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
                <h2><a name="highest_unanswered">{{ _('Action plan') }}</a></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
                <p class="text-justify text-muted">{{ _('Het is belangrijk dat je risico’s stelselmatig aanpakt. Tracht voor elk aspect van je digitale huishouding buiten de rode zone te geraken en vervolgens zo dicht mogelijk de groene zone te benaderen. Zo groeit stelselmatig de veilige bewaring van je digitale collectie.') }}</p>
                <p class="text-justify text-muted">{{ _('Hieronder vind je de eisen uit het scoremodel waarvoor je het dringendst actie moet ondernemen, telkens met een stappenplan om het probleem concreet aan te pakken.') }}</p>
                </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-sm-10 panel panel-default col-md-offset-1 col-sm-offset-1">
                <div class="panel-body">
                    <div class="container-fluid">
                        {% for question in highest_unanswered %}
                            <div class="row">
                                <div class="container-fluid">
                                    <!--<div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <span class="label label-info">Sectie <em>{{ question.section.title }}</em></span>
                                        </div>
                                    </div>
                                    -->
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <h3 class="h4">{{ question.question|replaceindex(loop.index) }}</h3>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-left: 5px;">
                                        <div class="col-md-12 col-sm-12">
                                            <h4 class="h5">{{ _('Action') }}</h4>
                                            <p style="margin-left: 1em; font-size: 1em;">{{ question.action|markdown }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
