{% extends 'base.html' %}
{% block content %}
    <script type="text/javascript">
        /* This could end badly if one request finishes directly before the other starts. But I don't think that
         will happen. */
        var async_counter = 0;
    </script>
    <!-- Bower -->
    <script src="{{ url_for('static', filename='lib/bower_components/bootstrap/js/transition.js') }}"></script>
    <!-- D3 -->
    <script src="{{ url_for('static', filename='lib/bower_components/d3/d3.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/bower_components/radar-chart-d3/src/radar-chart.js') }}"></script>
    <link href="{{ url_for('static', filename='lib/bower_components/radar-chart-d3/src/radar-chart.css') }}"
          rel="stylesheet"/>
    <!-- Local scripts -->
    <script type="text/javascript">
        var report_id = {{ report_template.id }};
        var user_report_id = {{ user_report.id }};
    </script>
    <script src="{{ url_for('static', filename='lib/scoremodel/jquery/admin/loader.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/scoremodel/jquery/public/graph.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/scoremodel/jquery/public/report.js') }}"></script>
    <div class="container-fluid">
        <!-- Bar -->
        <div class="row">
            <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-2 col-sm-offset-4"><a
                                href="{{ url_for('public.v_user_report_summary', user_id=current_user.id, user_report_id=user_report.id) }}">{{ _('Summary') }}</a>
                        </div>
                        <div class="col-sm-2"><a
                                href="{{ url_for('public.v_user_report_check', user_id=current_user.id, user_report_id=user_report.id) }}">{{ _('Full report') }}</a>
                        </div>
                        <div class="col-sm-2">
                            <a href="javascript:window.print()">{{ _('Print') }}</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pretty Title -->
        <div class="row">
            <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
                {% if current_user.organisation.name %}
                    <h1>
                        <a name="prettytitle">{{ _('Report card for %(organisation)s', organisation=current_user.organisation.name) }}</a>
                    </h1>
                {% else %}
                    <h1><a name="prettytitle">{{ _('Report card') }}</a></h1>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <!-- TOC -->
            <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
                <h2><a name="inhoudstafel">{{ _('Table of contents') }}</a></h2>
                <nav>
                    <ul role="menu">
                        <li class="sr-only"><a href="#grafiek">{{ _('Graph') }}</a></li>
                        <li><a href="#highest_unanswered">{{ _('Action plan') }}</a></li>
                        <li><a href="#rapportgegevens">{{ _('Report data') }}</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
                <h2><a name="resultaten">{{ _('Results') }}</a></h2>
            </div>
        </div>
        <!-- Graph -->
        <div class="row">
            <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
                <h3 class="sr-only"><a name="grafiek">{{ _('Graph') }}</a><span style="margin-left: 5px;"
                                                                                id="graph_loader"></span></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
                <div id="graph">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
                <p class="text-justify text-muted ">{{ _('The graph shows the score for all the sections in this report. The blue area shows your scores; the other areas show the benchmarks that are linked to this report. If you area is larger than the benchmark area, you have exceeded the benchmark scores.') }}</p>
            </div>
        </div>
        <!-- Highest 5 unanswered questions -->
        <div class="row">
            <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
                <h2><a name="highest_unanswered">{{ _('Action plan') }}</a></h2>
            </div>
        </div>
    <div class="row">
        <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
            <p class="text-justify text-muted">{{ _('In this section, you can find the 5 top-most actions you should take to increase your score. A full report can be found <a href="%(url)s">here</a>.', url=url_for('public.v_user_report_check', user_id=current_user.id, user_report_id=user_report.id)) }}</p>
            </div>
    </div>
        <div class="row">
            <div class="col-md-10 col-sm-10 panel panel-default col-md-offset-1 col-sm-offset-1">
                <div class="panel-body">
                    <div class="container-fluid">
                        {% for question in highest_unanswered %}
                            <div class="row">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <span class="label label-info">Sectie <em>{{ question.section.title }}</em></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <h3 class="h4">{{ question.question }}</h3>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-left: 5px;">
                                        <div class="col-md-12 col-sm-12">
                                            <!-- Risk Factor -->
                                            <span class="label label-default"
                                                  style="background-color: rgb({{ colored_risk_factors[question.risk_factor.risk_factor][0] }}, {{ colored_risk_factors[question.risk_factor.risk_factor][1] }}, {{ colored_risk_factors[question.risk_factor.risk_factor][2] }})">{{ question.risk_factor.risk_factor }}</span>

                                            <!-- Answers -->
                                            {% if question.id in question_answers_by_id %}
                                                <span class="label label-danger">{{ question_answers_by_id[question.id].answer_template.answer }}</span>
                                            {% else %}
                                                <span class="label label-warning">{{ _('Not completed') }}</span>
                                            {% endif %}
                                            <!-- Benchmark answers -->
                                            {% if question.id in benchmarks_by_question %}
                                                {% for benchmark in benchmarks_by_question[question.id] %}
                                                    <span class="label label-default">{{ benchmark.benchmark_report.title }}: <span
                                                            id="answer_bm_{{ benchmark.benchmark_report.id }}_{{ question.id }}">{{ benchmark.answer.answer }}</span></span>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row" style="margin-left: 5px;">
                                        <div class="col-md-12 col-sm-12">
                                            <h4 class="h5">{{ _('Action') }}</h4>
                                            <p style="margin-left: 1em; font-size: 1em;">{{ question.action|markdown }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
                <h2><a name="rapportgegevens">{{ _('Report data') }}</a></h2>
                <table class="table">
                    <tr>
                        <td>{{ _('Report name') }}</td>
                        <td>{{ user_report.name }}</td>
                    </tr>
                    <tr>
                        <td>{{ _('Report template') }}</td>
                        <td>{{ report_template.title }}</td>
                    </tr>
                    <tr>
                        <td>{{ _('User') }}</td>
                        <td>{{ user_report.user.username }}</td>
                    </tr>
                    <tr>
                        <td>{{ _('Creation time') }}</td>
                        <td>{{ user_report_creation_time }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}