{% block navigation %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class=""><a href="{{ url_for('.v_index') }}">{{ _('Home') }}</a></li>
                    <li class=""><a href="{{ url_for('.v_user_list') }}">{{ _('Scoremodel administration') }}</a></li>
                    <li class=""><a href="{{ url_for('.v_user_list') }}">{{ _('User administration') }}</a></li>
                    <li class=""><a href="{{ url_for('.v_logout') }}">{{ _('Log out') }}</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}