<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Scoremodel Admin</title>
    {% endif %}
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='lib/bower_components/bootstrap/dist/css/bootstrap.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='lib/bower_components/bootstrap/dist/css/bootstrap-theme.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='lib/style/bootstrap-dashboard.css') }}" rel="stylesheet" />
    <!-- Scripts -->
    <!-- Bootstrap -->
    <script src="{{ url_for('static', filename='lib/bower_components/jquery/dist/jquery.js') }}"></script>
    <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='lib/bower_components/jquery/dist/jquery.js') }}"><\/script>')</script>
    <script src="{{ url_for('static', filename='lib/bower_components/bootstrap/dist/js/bootstrap.js') }}"></script>
    <!-- Angular -->
    <script src="{{ url_for('static', filename='lib/bower_components/angular/angular.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/bower_components/angular-resource/angular-resource.js') }}"></script>
    <!-- Local scripts -->
    <!-- API -->
    <script src="{{ url_for('static', filename='lib/scoremodel/api/api.core.js') }}"></script>
    <!-- Convert -->
    <script src="{{ url_for('static', filename='lib/scoremodel/convert/convert.core.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/scoremodel/convert/convert.answer.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/scoremodel/convert/convert.risk_factor.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/scoremodel/convert/convert.question.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/scoremodel/convert/convert.section.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/scoremodel/convert/convert.report.js') }}"></script>
    <!-- Submit -->
    <script src="{{ url_for('static', filename='lib/scoremodel/api/api.submit.js') }}"></script>
    <!-- View -->
    <script src="{{ url_for('static', filename='lib/scoremodel/view/view.id.js') }}"></script>
    <!-- App -->
    <script src="{{ url_for('static', filename='lib/admin.js') }}"></script>
</head>
<body>
{% include 'admin/admin_navigation.html' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="dropdown-header">Scoremodel administration</li>
                <li class=""><a href="{{ url_for('.v_report_list') }}">Reports</a></li>
                <li class=""><a href="#">Analytics</a></li>
                <li class=""><a href="#">Export</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li class="dropdown-header">User administration</li>
                <li><a href="{{ url_for('.v_user_list') }}">User list</a></li>
                <li><a href="{{ url_for('.v_user_create') }}">Add user</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% if get_flashed_messages() %}
            <!-- Messages -->
            {% for message in get_flashed_messages() %}
            <div class="alert alert-info" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% block admin_content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>