<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>{{ _('Scoremodel administration') }}</title>
    {% endif %}
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='lib/bower_components/bootstrap/dist/css/bootstrap.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='lib/bower_components/bootstrap/dist/css/bootstrap-theme.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='lib/style/bootstrap-dashboard.css') }}" rel="stylesheet" />
    <!-- Scripts -->
    <!-- Bootstrap -->
    <script src="{{ url_for('static', filename='lib/bower_components/jquery/dist/jquery.js') }}"></script>
    <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='lib/bower_components/jquery/dist/jquery.js') }}"><\/script>')</script>
    <script src="{{ url_for('static', filename='lib/bower_components/bootstrap/dist/js/bootstrap.js') }}"></script>
    <!-- jQuery -->
    <script src="{{ url_for('static', filename='lib/bower_components/jsrender/jsrender.js') }}"></script>
    <!-- Local scripts -->
    <script src="{{ url_for('static', filename='lib/scoremodel/jquery/public/locale.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/scoremodel/jquery/form.js') }}"></script>
    <script type="text/javascript">
        var csrf_token = "{{ csrf_token() }}";
    </script>
</head>
<body>
{% include 'admin/admin_navigation.html' %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="dropdown-header">{{ _('Reports') }}</li>
                <li class=""><a href="{{ url_for('admin.v_report_list') }}">{{ _('List') }}</a></li>
                <li class=""><a href="{{ url_for('admin.v_report_benchmark_report') }}">{{ _('Benchmark') }}</a></li>
                <li class=""><a href="{{ url_for('admin.v_report_create') }}">{{ _('New') }}</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li class="dropdown-header">{{ _('Pages') }}</li>
                <li class=""><a href="{{ url_for('admin.v_page_list') }}">{{ _('List') }}</a></li>
                <li class=""><a href="{{ url_for('admin.v_page_create') }}">{{ _('New') }}</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li class="dropdown-header">{{ _('Documents') }}</li>
                <li class=""><a href="{{ url_for('admin.v_document_list') }}">{{ _('List') }}</a></li>
                <li class=""><a href="{{ url_for('admin.v_document_create') }}">{{ _('New') }}</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li class="dropdown-header">{{ _('Generic answers') }}</li>
                <li class=""><a href="{{ url_for('admin.v_answer_list') }}">{{ _('List') }}</a></li>
                <li class=""><a href="{{ url_for('admin.v_answer_create') }}">{{ _('New') }}</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li class="dropdown-header">{{ _('Generic risk factors') }}</li>
                <li class=""><a href="{{ url_for('admin.v_risk_factor_list') }}">{{ _('List') }}</a></li>
                <li class=""><a href="{{ url_for('admin.v_risk_factor_create') }}">{{ _('New') }}</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li class="dropdown-header">{{ _('Users') }}</li>
                <li><a href="{{ url_for('admin.v_user_list') }}">{{ _('List') }}</a></li>
                <li><a href="{{ url_for('admin.v_user_create') }}">{{ _('New') }}</a></li>
            </ul>
        </nav>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% if get_flashed_messages() %}
            <!-- Messages -->
            {% for message in get_flashed_messages() %}
            <div class="alert alert-info" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% block admin_content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>